@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: Tahoma,Helvetica,"Liberation Sans";
}

.formal {
    padding: 30px;
    text-align: right;
    border: 10px powderblue;
    border-style: dotted;
    font-family: 'Reem Kufi', sans-serif;
}

.letterpress{
    font-family: 'Nothing You Could Do', cursive;
    color: white;
    font-size: 30px;
    text-align: justify;
}

.offset{
    background:#e4e4c7;
    /* Dejar suficiente espacio de relleno para acomodar la sombra */
    padding:16px 16px 25px 16px; 
    font-family: 'Cinzel', serif;
    font-size:3.8em;
    font-weight:bold;
    line-height: 40px;  
}
